<div class="container fix">
    <h1 class="text-center m-4">Signup</h1>
    <div class=" main-form form-group col-12 col-sm-12 col-md-9 col-lg-6 m-auto">
        <form action="/auth/signup" method="POST">
            <% include ../includes/formErrors.ejs%>
            <!-- Username -->
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1"><i class="material-icons">account_circle</i></span>
                </div>
                <input type="text" name="username" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1" value="<%= typeof username != 'undefined' ? username : ''%>">
            </div>
            <!-- firstName -->
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1"><i class="material-icons">account_circle</i></span>
                </div>
                <input type="text" name="firstName" class="form-control" placeholder="First name" aria-label="firstName"
                    aria-describedby="basic-addon1" value="<%= typeof firstName != 'undefined' ? firstName : ''%>">
            </div>
            <!-- LastName -->
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1"><i class="material-icons">account_circle</i></span>
                </div>
                <input type="text" name="lastName" class="form-control" placeholder="Last name" aria-label="lastName"
                    aria-describedby="basic-addon1" value="<%= typeof lastName != 'undefined' ? lastName : ''%>">
            </div>
            <!-- email -->
            <div class="input-group mb-3 ">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1"><i class="material-icons">email</i></span>
                </div>
                <input type="email" name="email" class="form-control" placeholder="Email" aria-label="email" aria-describedby="basic-addon1"
                value="<%= typeof email != 'undefined' ? email : ''%>">
            </div>
            <!-- password -->
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1"><i class="material-icons">lock</i></span>
                </div>
                <input type="password"  name="password" class="form-control" placeholder="Password" aria-label="Password"
                    aria-describedby="basic-addon1">
            </div>
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <button type="submit" class="btn btn-primary w-100">Signup</button>
        </form>
        <a href="/auth/login" class="d-block mt-2"> login</a>
    </div>

</div>
    