
<div class="container mt-5 py-5">

    <% var images = data.images; %>
    <% var profile = images.findIndex(image => {return image.imgIndex == 'profile'})%>
    <% var img1 = images.findIndex(image => {return image.imgIndex == 'img1'})%>
    <% var img2 = images.findIndex(image => {return image.imgIndex == 'img2'})%>
    <% var img3 = images.findIndex(image => {return image.imgIndex == 'img3'})%>
    <% var img4 = images.findIndex(image => {return image.imgIndex == 'img4'})%>
    <div class="row col-8 mx-auto mb-5 pt-5" style="height:280px">
        <div class="col-lg-5 col-md-4 col-sm-12 text-center">
            <% if(profile != -1 ) {%>
                <img class="profileImg rounded-circle" src="<%= images[profile].imgPath %>" alt="test"/>
            <%}%>
            <!-- <span class="status bg-success"></span> -->
        </div>
        <div class="col-7">
            <h2><%= data.firstName %> <%= data.lastName %> <span class="badge badge-secondary"><%= data.age %></span></h2>
            <span>
                <% var fameRating = data.fameRating; %>
                <% for (i = 0; i < fameRating; i++) {%>
                    ⭐
                <% }%>
            </span>
            <p class="my-3"><%= data.bio %></p>
            <span><b>UserName :</b><%= data.userName %></span>
            <span><b>SexPref :</b><%= data.sexPref %></span>
            <span><b>FameRating: </b><%= data.fameRating %></span>
            <span><b>Status: </b>
                <% if(data.userState.online == 1){ %>
                    <span class="badge badge-pill badge-success">online</span>
                <%}else{ %>
                    <span class="badge badge-pill badge-secondary">logged <%= data.userState.last_login %></span> 
                <%}%>
            </span>
            <ul class="tags">
                <% var tags = data.tags %>
                <% tags.forEach(tag => { %>
                    <li class="tag"><%= tag.topic %></li>    
                <%})%>
            </ul>
            <inpu type="hidden" name="id" value="<%= data.id %>">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <button class="btn btn-danger" id="love" onclick="actions('love','<%= data.id %>')"><% if(data.buttonsState.love == 1){  %> Unlike <% }else{ %> like <%}%></button>
            <button class="btn btn-warning" id="report" onclick="actions('report','<%= data.id %>')"><% if(data.buttonsState.report == 1 ){ %> Reported  <% }else{ %> report fake account<%}%></button>
            <button class="btn btn-warning" id="block" onclick="actions('block','<%= data.id %>')"><% if(data.buttonsState.block == 1) { %> UnBlock <% }else{ %> Block <%}%></button>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="container  row" style="height: 709px; margin-top: 92px;">

        <div class="col-4">
            <% if(img1 != -1) {%>
                <img class="w-100 rounded" src="<%= images[img1].imgPath %>">
            <%}%>
        </div>
        <div class="col-4">
            <div class="w-100 h-50 mb-2">
                    <% if(img2 != -1) {%>
                        <img  class="w-100 rounded" src="<%= images[img2].imgPath %>">
                    <%}%>
            </div>
            <div class="w-100 h-50">
                    <% if(img3 != -1) {%>
                        <img  class="w-100 rounded" src="<%= images[img3].imgPath %>">
                    <%}%>
            </div>
        </div>
        <div class="col-4">
                <% if(img4 != -1) {%>
                    <img class="w-100 rounded" src="<%= images[img4].imgPath %>">
                <%}%>
        </div>
    </div>
</div>
<script type="text/javascript" src="/js/profile/publicProfile.js"></script>